@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color:#EFD6E1 ;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 5px black;
}

header {
    width: 100%;
    height: 100px;
    background-color: #97A0F0;
    padding: 5px;
    margin-bottom: 0px;
        
}

header > p {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    text-shadow: 0px 2px 2px rgb(128, 125, 125);
    
}

nav{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color:#A9F07F;
    box-shadow: 0px 5px 5px rgba(90, 87, 87, 0.816);
    
}
nav > a {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    
}
nav > a:hover {
    color: black;
}

section > article {
    margin: 30px;
    
}
article > p {
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    font-family: 'Encode Sans', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

article > h1 {
    font-family: serif;
    font-size: 1.3em;
}

article >h2 {
    font-family: serif;
    font-size: 1.1em;
}

article > UL {
    text-indent: 30px;
    list-style-position: inside;
}