@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #B69D86, #e46a06af);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
     color: #ED4B00;
     text-align: center;
     text-shadow: 1px 1px 2px #b5390085  ;
}

h2{
     color: #42BFD6;
}

p
{
    text-align: justify;
}

